<%inherit file="../_base.html"/>


<%block name="content">
	<h1><a href="${calculation.href()}">${calculation.title}</a></h1>
	<div class="row align-items-center">
		<div class="col-lg-8">
			% if graph.data:
				<div id="graph"></div>
			% else:
				<div class="alert alert-secondary" role="alert">
					No data for this graphs.
				</div>
			% endif
		</div>
		% if graph.data:
			<div class="col-lg-4">
				<h6>Parameters:</h6>
				<code id="params"></code>
			</div>
		% endif
	</div>
</%block>


<%block name="script">
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script>
		$(function() {
			if( $('#graph').length ) {
				var DATA = [];
				% for point in graph.data:
					DATA.push([ ${point.x}, ${point.y} ]);
				% endfor

				Highcharts.chart('graph', {
					title: {text: '${graph.title}'},
					chart: {
				    	type: 'spline'
					},
					series: [{name: ' ', data: DATA}]
				});

				var s = '${graph.params.replace("\r\n", "")|n}',
					params = JSON.parse(s),
					html = '';
				for (var k in params) html += k + ': <i>' + params[k] + '</i><br>';
				$('#params').html(html);

			}
		});
	</script>
</%block>
