<%inherit file="../_base.html"/>


<%block name="content">
	<h1>
		${calculation.title}
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-run"><i class="fas fa-plus-circle"></i></button>
	</h1>

	<div class="description">${calculation.description}</div>

	% if calculation.graphs:

		<%def name="graph_col(g)">
			<code class="d-none d-md-block">
				<big>Params:</b></big><br>
				% for key in graph_params:
					${key}: ${graph_params[key]}<br>
				% endfor
			</code>
			<div class="graph-toolbar">
				<i data-toggle="modal" data-target="#modal-delete" data-graph="${g.id}" class="fas fa-trash fa-2x"></i>
			</div>
		</%def>

		% for graph in calculation.graphs:
			<%
				import json
				graph_params = json.loads(graph.params.replace('\'', '"'))
				points_total = 0
			%>
			<div id="graph-row-${graph.id}" class="row graph-row align-items-end">
				<div class="col-sm-8">
					<div id="graph-${graph.id}" class="graph-wrapper"><i class="far fa-frown fa-9x" style=""></i></div>
				</div>
				<div class="col-sm-4">
					${graph_col(graph)}
				</div>
			</div>
		% endfor
	% else:
		<div class="alert alert-secondary" role="alert">
			There is no graphs for this calcucation.
		</div>
	% endif

	<div class="modal fade" id="modal-run" tabindex="-1" role="dialog" aria-labelledby="modal-run" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Create graph</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group row">
							<label class="col-4 col-form-label" for="modal-run-input-title">Graph title</label>
							<div class="col-8">
								<input class="form-control" type="text" id="modal-run-input-title" required="required">
							</div>
						</div>

						<hr>
						<%
						 import json
						 params = json.loads(calculation.params_template)
						 %>

						% for p in params:
							<div class="form-group row">
								<label class="col-4 col-form-label" for="modal-run-input-param-${p}">${p}</label>
								<div class="col-8">
									<input class="form-control form-control-sm" data-param-name="${p}" id="modal-run-input-param-${p}" required="required" value="${params[p]}">
								</div>
							</div>
						% endfor
						<hr>
						<input type="hidden" id="modal-run-input-id" value="${calculation.id}">
						<button type="submit" id="modal-run-button-submit" class="btn btn-primary"><i class="fas fa-asterisk fa-spin"></i>Create</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modal-delete" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete graph</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form>
						<p>You are about to delete this graph. Sure?</p>
						<button type="submit" id="modal-delete-button-submit" class="btn btn-danger">Delete</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</%block>


<%block name="script">
	<script>
		$(function() {

			// Run new calculation
			$('#modal-run-button-submit').click(function(event) {
				event.preventDefault();

				// Проверяем, все ли поля заполнены
				var testPassed = true;
				$('#modal-run input').each(function(index, el){
					if( $(el).attr('required') && !$(el).val() ) {
						$(el).addClass('has-error');
						if( testPassed ) $(el).focus(); // Первый вызов?
						testPassed = false;
					} else {
						$(el).removeClass('has-error');
					}
				});
				if( !testPassed ) return false;

				var calculation_id = $('#modal-run-input-id').val(),
					title          = $('#modal-run-input-title').val(),
					params         = {},
					data;

				$('input[data-param-name]').each( function(idx, el) {
					params[$(el).data('param-name')] = $(el).val();
				});

				data = {
					"calculation_id": calculation_id,
					"title": title,
					"params": params
				};

				$(event.target).find('i.fa-spin').css('display', 'inline-block');

				$.ajax({
					url : '/api/run-graph/',
					type: 'post',
					data: JSON.stringify(data),
					dataType: 'json',
					contentType: 'application/json',
					success: function(resp) {
						if( resp.error != 0 ) {
							$(event.target).find('i.fa-spin').css('display', 'none');
							console.error('Got error from engine', resp.message);
							alert(resp.message);
						} else {
							window.location.reload(true);
						}
					},
					error: function() {
						$(event.target).find('i.fa-spin').css('display', 'none');
						alert(resp.message);
						console.error('Error starting calculation.');
					}
				});
			});

			$('#modal-delete').on('show.bs.modal', function (event) {
  				var graphId = $(event.relatedTarget).data('graph');
  				$(this).find('form').data('graph', graphId);
			});

			$('#modal-delete-button-submit').click(function(event) {
				event.preventDefault();
				var graphId = $(event.target).parents('form').data('graph'),
					data = {'graph_id': graphId};

				// Promises!
				$('#modal-delete').modal('hide');
				el = $('#graph-row-' + graphId);
				el.hide('slow', function(){ el.remove() });

				$.ajax({
					url : '/api/delete-graph/',
					type: 'post',
					data: JSON.stringify(data),
					dataType: 'json',
					contentType: 'application/json',
					success: function(resp) {
						if( resp.error != 0 ) console.log(resp);
					},
					error: function() {
						console.log('Error deleting graph.');
					}
				});

			});

		});
	</script>

	% if calculation.graphs:

		<!-- HIGH CHATS SECTION -->
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>

		<script>
			$(function() {
				var graphId, title, backgroundColor, enablePolling;

				% for graph in calculation.graphs:
					graphId = ${graph.id};
					% if graph.finished:
						title = '${graph.title}';
						backgroundColor = '#f5fff5';
						enablePolling = false;
					% else:
						title = '${graph.title} <small style="font-size:45%">IN PROGRESS…</small>';
						backgroundColor = '#fff5f5';
						enablePolling = true;
					% endif
					Highcharts.chart('graph-${graph.id}', {
						title: {
							text: title,
							align: 'center',
							style: {fontSize: '1.6rem', fontFamily: '"Roboto Condensed", sans-serif'},
							useHTML: true
						},
						xAxis: { title: null },
						yAxis: { title: null },
						legend: { enabled: false },
						chart: {
							spacingTop: 20,
							backgroundColor: backgroundColor,
							type: 'spline'
						},
						data: {
							firstRowAsNames: false,
							enablePolling: enablePolling,
							//dataRefreshRate: 10,
							rowsURL: window.location.protocol + '//' + window.location.host + '/api/graph_points_list/?graph_id=' + graphId
						}
					});
				% endfor
			});
		</script>
	% endif
</%block>
