body>div { margin: 1rem 0; }
body>div>h1 { margin: 2rem 0; }
body>div>h1 button { margin-left:1rem; }

.list-group-flush dt.list-group-item {
	padding-bottom: 0;
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
}

.list-group-flush .list-group-item {
	padding-left: 0;
	padding-right: 0;
	border: 0;
}

.row-controls {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
}

h1 { font-size: 3rem; }

.description { margin: 0 0 2rem 0; }

.graph-row {
	border-top: 1px solid #eee;
	padding: 2rem 0;
}

.graph-row code {
	color: green;
	display: block;
	margin-top: 2rem;
}

.graph-row div.movie-frame {
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
}

.graph-row div.movie-frame h3 {
	font-size: 1.6rem;
}

input.has-error {
	border-color: #c00;
}

.graph-toolbar {
	margin-top: 2rem;
	text-align: right;
}

.graph-toolbar i {
	margin-left: 1rem;
	cursor: pointer;
	opacity: .6; 
}

.graph-wrapper {
	text-align: center;
}

@media (min-width: 768px) {
	.graph-row-empty code {
		margin-top: 0rem;
	}
}

.graph-toolbar .fa-trash { color: #c00; }

.graph-toolbar i:hover, .graph-toolbar i:active {
	opacity: 1;
}

button[type=submit] i {
	margin-right: .2rem;
	display: none;
}
